body {
    margin:0px;
}


#boxHome{
display:flex;
border-style:ridge;
border-color: blue;
border-width:20px;
margin:auto;
margin-top:0px;
padding: 20px;
justify-content:space-evenly;
flex-flow:row wrap;
flex-shrink:0;
width: 600px;
height: 600px;

flex-wrap:wrap;
}

#title{
display:flex;
justify-content: center;
margin-bottom:0px;
margin-top:0px;
}

#title img {
    width: 350px;
}

/* children below */
#boxHome div {
display:flex;
border-style:groove;
border-color:rgb(214, 214, 214);
flex-grow:1;
flex-shrink:1;
flex-basis:5.25%; /* ((600/16)-6) divided by 600 */

}





.hover {
background-color:grey;
}

#sizingButton {
    display:flex;
    justify-content:center;
    margin-bottom:20px;
}

div button {
    color:aquamarine;
    background-color: black;
    border-radius:8px;
}